.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.timer {
  font-size: 2rem;
  margin: 2rem 0;
  background-color: white;
}

.buttons button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.options {
  margin-top: 2rem;
  
}

.options label {
  display: block;
  margin-bottom: 0.5rem;
  background-color:white;
}

.options select {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  background-color: green;
}
